.CV {
    width: 45%;
    height: 100%;
    top: 0;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.35);
    position: fixed;
    right: 5%;
    padding: 16px;
}

.cv-title {
    color: #3700B6;
    font-size: 24px;
    font-weight: 700;
}

.cv-subtitle {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 0;
}

.cv-text {
    font-size: 12px;
}

.cv-list {
    margin-top: 0;
}

.section-heading {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.section-subheading {
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 12px;
}

.line {
    height: 1px;
    width: 100%;
    background-color: #3700B6;
}

.heading-text {
    font-size: 16px;
    font-weight: 700;
    color: #3700B6;
    margin: 0;
}