.form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 64px;
    border-radius: 32px;
    background-color: white;
    margin-top: 16px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 100%;
    border: none;
    outline: none;
    background-color: white;
    gap: 8px;
    transition: background 0.3s ease;
    cursor: pointer;
}

.item.active {
    background-color: #3700B6;
    color: white;
}

.item.active:hover {
    background-color: #3700B6;
}

.item:hover {
    background-color: #f6e0ff;
}

.item-icon {
    filter: invert(0%);
    width: 24px;
    height: 24px;
    transition: filter 0.3s ease;
}

.item-icon.active {
    filter: invert(100%);
}

.item-text {
    font-weight: 500;
}