.form-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: auto;
    background-color: #D2B9FF;
    gap: 64px;
    padding-bottom: 16px;
    overflow: hidden;
    transition: height 0.3s ease;
}