.main-window {
    display: flex;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
    position: relative;
}

.background {
    position: fixed;
    background-color: #DDCCF4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
